.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.login-footer{
    display: flex;
    justify-content: space-between;
}
.forgot-link, .signup-link{
    cursor: pointer;
    text-decoration: none;
    float: right;
}
.forgot-link:hover{
    color: #ff0000;
}
.signup-link:hover{
    color: #008000;
}
.login-card{
    display: flex;
    justify-content: center;
    width: 400px;
    background: #222 !important;
    margin: 2rem 2rem;
    /* box-shadow: 2px 2px 2px #eee */
}
.form-label {
    color: white !important;
}
.text-center {
    text-align: center!important;
    color: white;
}

