.signup-form{
    margin: 1rem 2rem;
    padding-bottom: 6rem;
}
.signup-card-container{
    background: #222 !important;
}
.plus{
    cursor: pointer;
}
.signup-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}