@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,900&display=swap');

html{
    font-family: 'Merriweather', serif;
    background-color: #222;
}
.pagebody{
    background-color: #222;
    height: 100vh;
    width: 100%;
}